---
# yaml-language-server: $schema=https://k8s-schemas.m00nlit.dev/dragonflydb.io/dragonfly_v1alpha1.json
apiVersion: dragonflydb.io/v1alpha1
kind: Dragonfly
metadata:
  name: dragonfly
spec:
  replicas: 2
  args:
    - "--bind=::"
    - "--admin_bind=::"
    - --maxmemory=$(MAX_MEMORY)Mi
    - --proactor_threads=2
    - --cluster_mode=emulated
    - --lock_on_hashtags
    - --default_lua_flags=allow-undeclared-keys

  resources:
    requests:
      cpu: 100m
    limits:
      memory: 512Mi

  labels:
    role: master # Bug when replicas=1

  env:
    - name: MAX_MEMORY
      valueFrom:
        resourceFieldRef:
          resource: limits.memory
          divisor: 1Mi
