---
# yaml-language-server: $schema=https://k8s-schemas.m00nlit.dev/postgresql.cnpg.io/cluster_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: &name postgres
  annotations:
    cnpg.io/skipEmptyWalArchiveCheck: enabled
spec:
  instances: 1

  imageName: ghcr.io/cloudnative-pg/postgresql:18.0-standard-trixie@sha256:ffd3687c9c71b74d8a19f24c4c56366f42ee96f7c516ad2bf31fbeec5b0f9747

  certificates:
    serverTLSSecret: postgres-server-cert
    serverCASecret: postgres-server-cert
    clientCASecret: postgres-client-cert
    replicationTLSSecret: postgres-client-cert

  storage:
    size: 2Gi
    storageClass: longhorn-fast

  plugins:
    - name: &plugin barman-cloud.cloudnative-pg.io
      isWALArchiver: true
      parameters:
        barmanObjectName: &store cloudflare-r2-store

  externalClusters:
    - name: &src source
      plugin:
        name: *plugin
        parameters:
          barmanObjectName: *store
          serverName: *name

  ##### RECOVERY #####

  ## Uncomment the below section to enable recovery from r2.
  ## Complete this prior to bootstrapping the cluster.

  bootstrap:
    recovery:
      source: *src

  monitoring:
    enablePodMonitor: true

  postgresql:
    pg_hba:
      - hostnossl all all 10.42.0.0/16      scram-sha-256
      - hostnossl all all 2001:cafe:42::/56 scram-sha-256
      - hostssl   all all all               cert clientcert=verify-full
    # shared_preload_libraries:
    #   - "vchord.so"

    extensions:
      - name: postgis
        ld_library_path:
          - system
        image:
          reference: ghcr.io/cloudnative-pg/postgis-extension-testing:3.6.0-18-trixie@sha256:ec21540f5799561a9b05ca188fd28ce32852a826f48d80329260940855f5f558
      # - name: vchord
      #   image:
      #     reference: ghcr.io/tensorchord/vchord-scratch:pg18-v0.5.3@sha256:c310ede47f7f82bd257c3e53806d60680d5899c318ca946fb313efad9a90a78e
      #   dynamic_library_path:
      #     - /usr/lib/postgresql/18/lib
      #   extension_control_path:
      #     - /usr/share/postgresql/18/

  managed:
    roles:

      - name: paperless
        ensure: present
        login: true
        superuser: false
        disablePassword: true

      - name: pgadmin
        ensure: present
        login: true
        superuser: false
        disablePassword: true
