---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system
components:
  - ../../components/alerts
  - ../../components/common
resources:
  - ./cilium/ks.yaml
  - ./coredns/ks.yaml
  - ./descheduler/ks.yaml
  # - ./gateway-api-crds/ks.yaml
  - ./intel-device-plugins/ks.yaml
  - ./intel-gpu-resource-driver/ks.yaml
  - ./ksgate/ks.yaml
  - ./node-feature-discovery/ks.yaml
  - ./nvidia-k8s-device-plugin/ks.yaml
  - ./metrics-server/ks.yaml
  - ./reloader/ks.yaml
  - ./spegel/ks.yaml
