---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app twitchpoints
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  values:
    controllers:
      twitchpoints:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/mrdynamo/twitch-channel-points-miner
              tag: 2026.2.11@sha256:cf15c0b29172eff93b67b96687b0bb128932bff90c97244c688b0cc8175df624
            env:
              TZ: America/Chicago
              TERM: xterm-256color
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            tty: true
            probes:
              liveness: &probes
                enabled: false
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: &port 5000
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 1Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${INTERNAL_SECRET_DOMAIN}"
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          twitchpoints:
            app:
              - path: /config/analytics
                subPath: analytics
              - path: /config/cookies
                subPath: cookies
              - path: /config/logs
                subPath: logs
              - path: /config/assets
                subPath: assets
      configmap:
        type: configMap
        name: *app
        advancedMounts:
          twitchpoints:
            app:
              - path: /config/run.py
                subPath: run.py
