---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: maintainerr
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: maintainerr
  values:
    controllers:
      maintainerr:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-ui:
            image:
              repository: ghcr.io/maintainerr/maintainerr
              tag: 2.24.0@sha256:06cb0e1f61a4909134b1c438b1bf3e8aceb447d5211e55351044840500c1c417
            command:
              - sh
              - -c
              - |
                find /opt/app/server/dist/ui -type f -not -path '*/node_modules/*' -print0 | xargs -0 sed -i "s,/__PATH_PREFIX__,${BASE_PATH_REPLACE},g"
                cp -rv /opt/app/server/dist/ui/* /ui
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              runAsNonRoot: false
              capabilities: {drop: ["ALL"]}
        containers:
          app:
            image:
              repository: ghcr.io/maintainerr/maintainerr
              tag: 2.24.0@sha256:06cb0e1f61a4909134b1c438b1bf3e8aceb447d5211e55351044840500c1c417
            command:
              - /bin/sh
              - -c
              - exec npm run --prefix /opt/app/server start
            env:
              TZ: America/Chicago
              UI_PORT: &port 80
              #API_PORT: 3002
            probes:
              liveness: &probes
                enabled: false
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 100m
                memory: 256Mi
              limits:
                memory: 1Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${INTERNAL_SECRET_DOMAIN}"
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /opt/data
      ui:
        type: emptyDir
        advancedMounts:
          maintainerr:
            init-ui:
              - path: /ui
            app:
              - path: /opt/app/server/dist/ui
      tmp:
        type: emptyDir
