---
apiVersion: v1
kind: Secret
metadata:
  name: onepassword-secret
  namespace: external-secrets
stringData:
  1password-credentials.json: op://kubernetes-connect/1password/OP_CREDENTIALS_JSON
  token: op://kubernetes-connect/1password/OP_CONNECT_TOKEN
---
apiVersion: v1
kind: Secret
metadata:
  name: sops-age-pq-secret
  namespace: flux-system
stringData:
  age.agekey: op://kubernetes-connect/sops/SOPS_AGE_PQ_SECRET_KEY
