---
customization:
  extraKernelArgs:
    - talos.platform=vmware # VMware Platform
    # - talos.device.settle_time=3m # Increase udevd settle time
    - -init_on_alloc # Less security, faster puter
    - -init_on_free # Less security, faster puter
    - -selinux # Less security, faster puter
    - apparmor=0 # Less security, faster puter
    - init_on_alloc=0 # Less security, faster puter
    - init_on_free=0 # Less security, faster puter
    - intel_idle.max_cstate=0
    - intel_iommu=on # PCI Passthrough
    - iommu=pt # PCI Passthrough
    - mitigations=off # Less security, faster puter
    - security=none # Less security, faster puter
    - sysctl.kernel.kexec_load_disabled=1 # Meteor Lake CPU & Intel iGPU
    - talos.auditd.disabled=1 # Less security, faster puter
    - talos.logging.kernel=udp://fluent-bit.observability.svc.cluster.local:10002/ # Kernel logging
  systemExtensions:
    officialExtensions:
      - siderolabs/intel-ucode # Intel CPU Microcode Binaries
      - siderolabs/iscsi-tools # iSCSI Support (Longhorn)
      - siderolabs/nfsrahead # NFS Performance
      - siderolabs/util-linux-tools # Misc Utilities
      - siderolabs/vmtoolsd-guest-agent # VMware Guest Agent
