---
customization:
  extraKernelArgs:
    - talos.device.settle_time=1m
  systemExtensions:
    officialExtensions:
      - siderolabs/iscsi-tools # iSCSI Support (Longhorn)
      - siderolabs/nfsrahead # NFS Performance
      - siderolabs/util-linux-tools # Misc Utilities
      - siderolabs/vmtoolsd-guest-agent # VMware Guest Agent
