---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: game-thumbs
spec:
  chartRef:
    kind: OCIRepository
    name: game-thumbs
  interval: 1h
  values:
    controllers:
      game-thumbs:
        containers:
          app:
            image:
              repository: ghcr.io/sethwv/game-thumbs
              tag: v1.5.2@sha256:e182aa0b76cf69b37156370681a573bf9a25af4793ffc37d62bdb0210ccf8942
            env:
              TZ: America/Chicago
              XC_PROXY: true
              XC_PROXY_UPSTREAM: "dispatcharr=http://dispatcharr.default.svc:9191"
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
                memory: 183Mi
              limits:
                memory: 183Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: 3000
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${INTERNAL_SECRET_DOMAIN}"
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
    persistence:
      cache:
        type: emptyDir
        globalMounts:
          - path: "/app/.cache"
