---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: game-thumbs
spec:
  chartRef:
    kind: OCIRepository
    name: game-thumbs
  interval: 1h
  values:
    controllers:
      game-thumbs:
        containers:
          app:
            image:
              repository: ghcr.io/sethwv/game-thumbs
              tag: dev@sha256:aadeda5b6ddc2f2032c7e1b65147c9537c0cd29ab47877cc75e97e6dc96b334a
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 256Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: 3000
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${INTERNAL_SECRET_DOMAIN}"
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
    # persistence:
    #   config:
    #     enabled: true
    #     type: emptyDir
