---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app karakeep
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: karakeep
  values:
    controllers:

      karakeep:
        pod:
          annotations:
            reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/karakeep-app/karakeep
              tag: 0.30.0
            env:
              BROWSER_WEB_URL: http://karakeep-chrome.default.svc.cluster.local:9222
              CRAWLER_DOWNLOAD_BANNER_IMAGE: true
              CRAWLER_ENABLE_ADBLOCKER: true
              CRAWLER_STORE_SCREENSHOT: true
              DATA_DIR: /data
              DISABLE_SIGNUPS: true
              MEILI_ADDR: http://karakeep-meilisearch.default.svc.cluster.local:7700
              NEXTAUTH_URL: https://karakeep.${SECRET_DOMAIN}
              DISABLE_NEW_RELEASE_CHECK: true
              COREPACK_INTEGRITY_KEYS: 0
              INFERENCE_IMAGE_MODEL: llava:7b
              INFERENCE_TEXT_MODEL: llama3.2:3b
              INFERENCE_JOB_TIMEOUT_SEC: 600 # 10 minutes
              INFERENCE_ENABLE_AUTO_SUMMARIZATION: true
              OAUTH_PROVIDER_NAME: authentik
              OAUTH_WELLKNOWN_URL: https://auth.${SECRET_DOMAIN}/application/o/{{ .Release.Name }}/.well-known/openid-configuration
              OAUTH_ALLOW_DANGEROUS_EMAIL_ACCOUNT_LINKING: true
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 1Gi

      chrome:
        pod:
          annotations:
            reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: gcr.io/zenika-hub/alpine-chrome
              tag: 124
            command:
              - chromium-browser
            args:
              - --headless
              - --no-sandbox
              - --disable-gpu
              - --disable-dev-shm-usage
              - --remote-debugging-address=0.0.0.0
              - --remote-debugging-port=9222
              - --hide-scrollbars
            securityContext:
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 1Gi

      meilisearch:
        pod:
          annotations:
            reloader.stakater.com/auto: "true"
          affinity:
            podAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                - labelSelector:
                    matchExpressions:
                      - key: app.kubernetes.io/name
                        operator: In
                        values:
                          - karakeep
                      - key: app.kubernetes.io/instance
                        operator: In
                        values:
                          - karakeep
                  topologyKey: kubernetes.io/hostname
        containers:
          app:
            image:
              repository: docker.io/getmeili/meilisearch
              tag: v1.32.0@sha256:61b1c86c459fa52d0653516f573702791e611574737dc76175ae9d2628c911f5
            args:
              - /bin/meilisearch
              - --experimental-dumpless-upgrade
            env:
              MEILI_NO_ANALYTICS: true
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 4Gi

    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        runAsNonRoot: true
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"

    service:
      app:
        primary: true
        controller: *app
        ports:
          http:
            port: &httpPort 3000
      chrome:
        controller: chrome
        ports:
          http:
            port: 9222
      meilisearch:
        controller: meilisearch
        ports:
          http:
            port: 7700

    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *httpPort


    persistence:
      data:
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          karakeep:
            app:
              - path: /data
                subPath: karakeep
              - path: /meili_data
                subPath: meilisearch
          meilisearch:
            app:
              - path: /meili_data
                subPath: meilisearch
