---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: calibre
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: calibre
  values:
    controllers:
      calibre:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: lscr.io/linuxserver/calibre
              tag: 8.16.2@sha256:51e42276a0b0755e11fc9a4f6ea51c4179080e66f7befe41e2ac9b55d57b4c6e
            env:
              TZ: America/Chicago
              PUID: 1000
              PGID: 1000
            probes:
              liveness: &probes
                enabled: false
                custom: true
                spec:
                  httpGet:
                    path: /healthz
                    port: &port 8080
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            # securityContext:
            #   allowPrivilegeEscalation: true
            #   readOnlyRootFilesystem: false
            #   capabilities:
            #     drop: ["ALL"]
            #     add: ["seccomp:unconfined"]
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 2Gi
                nvidia.com/gpu.shared: 1 # Request portion of shared GPU
    defaultPodOptions:
      runtimeClassName: nvidia
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: nvidia.com/gpu.count
                    operator: Gt
                    values: ["0"]
      # securityContext:
      #   runAsNonRoot: false
      #   runAsUser: 1000
      #   runAsGroup: 1000
      #   fsGroup: 1000
      #   fsGroupChangePolicy: OnRootMismatch
      #   seccompProfile: { type: RuntimeDefault }
      tolerations:
        - key: nvidia.com/gpu
          operator: Exists
          effect: NoSchedule
    service:
      app:
        ports:
          http:
            port: *port
            primary: true
      server:
        ports:
          server:
            port: 8081
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${INTERNAL_SECRET_DOMAIN}"
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
      books:
        type: nfs
        server: 192.168.20.21
        path: /mnt/tank/media/books
