---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app authentik
  namespace: &namespace security
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  components:
    - ../../../../components/database/manual
  dependsOn:
    - name: cloudnative-pg
      namespace: database
  # healthChecks:
  #   - apiVersion: &postgresVersion postgresql.cnpg.io/v1
  #     kind: &postgresKind Cluster
  #     name: postgres
  #     namespace: database
  # healthCheckExprs:
  #   - apiVersion: *postgresVersion
  #     kind: *postgresKind
  #     failed: status.conditions.filter(e, e.type == 'Ready').all(e, e.status == 'False')
  #     current: status.conditions.filter(e, e.type == 'Ready').all(e, e.status == 'True')
  interval: 1h
  path: ./kubernetes/apps/security/authentik/app
  postBuild:
    substitute:
      APP: *app
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
  prune: true
  retryInterval: 2m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
  timeout: 5m
  wait: false
