---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/tuppr.home-operations.com/kubernetesupgrade_v1alpha1.json
apiVersion: tuppr.home-operations.com/v1alpha1
kind: KubernetesUpgrade
metadata:
  name: kubernetes
spec:
  kubernetes:
    # renovate: datasource=docker depName=ghcr.io/siderolabs/kubelet
    version: v1.34.2
  healthChecks:
    - apiVersion: volsync.backube/v1alpha1
      kind: ReplicationSource
      expr: |-
        status.conditions.filter(c, c.type == "Synchronizing").all(c, c.status == "False")
    - apiVersion: longhorn.io/v1beta2
      kind: Volume
      expr: |-
        # Longhorn health: there must be no volumes in the "degraded" robustness state
        items.filter(v, v.status.robustness == "degraded").size() == 0
    - apiVersion: longhorn.io/v1beta2
      kind: Volume
      expr: |-
        # Longhorn health (alternate): assert every volume's robustness is not 'degraded'
        items.all(v, v.status.robustness != "degraded")
