---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app authentik
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  dependsOn: []
  interval: 15m
  values:
    global:
      podAnnotations:
        secret.reloader.stakater.com/reload: authentik-secret
        k8s.ksgate.org/postgres-ready: |
          {
            "apiVersion": "postgresql.cnpg.io/v1",
            "kind": "Cluster",
            "name": "postgres",
            "namespace": "database",
            "expression": "resource.status.readyInstances >= 1"
          }
        k8s.ksgate.org/postgres-service: |
          {
            "apiVersion": "v1",
            "kind": "Service",
            "name": "postgres-rw",
            "namespace": "database"
          }
        k8s.ksgate.org/database-applied: |
          {
            "apiVersion": "postgresql.cnpg.io/v1",
            "kind": "Database",
            "name": "postgres-${APP}",
            "namespace": "database",
            "expression": "resource.status.applied"
          }
      # schedulingGates:
      #   - name: k8s.ksgate.org/postgres-ready
      #   - name: k8s.ksgate.org/postgres-service
      #   - name: k8s.ksgate.org/database-applied
      volumes:
        - name: postgres-certs
          secret:
            secretName: postgres-authentik-cert
      volumeMounts:
        - name: postgres-certs
          mountPath: /var/run/secrets/postgresql
          readOnly: true
      deploymentStrategy:
        type: RollingUpdate
      env:
        - name: AUTHENTIK_POSTGRESQL__NAME
          value: *app
        - name: AUTHENTIK_POSTGRESQL__HOST
          value: postgres-rw.database.svc
        - name: AUTHENTIK_POSTGRESQL__USER
          value: *app
        - name: AUTHENTIK_POSTGRESQL__SSLMODE
          value: verify-full
        - name: AUTHENTIK_POSTGRESQL__SSLROOTCERT
          value: /var/run/secrets/postgresql/ca.crt
        - name: AUTHENTIK_POSTGRESQL__SSLCERT
          value: /var/run/secrets/postgresql/tls.crt
        - name: AUTHENTIK_POSTGRESQL__SSLKEY
          value: /var/run/secrets/postgresql/tls.key
      envFrom:
        - secretRef:
            name: authentik-secret
    server:
      autoscaling:
        enabled: true
        minReplicas: 1
      resources:
        requests:
          cpu: 200m
        limits:
          memory: 1Gi
      metrics:
        prometheus:
          serviceMonitor:
            enabled: true
      route:
        main:
          enabled: true
          hostnames: ["authentik.${SECRET_DOMAIN}"]
          parentRefs:
            - name: external
              namespace: kube-system
              sectionName: https
    worker:
      autoscaling:
        enabled: true
        minReplicas: 1
      resources:
        requests:
          cpu: 200m
        limits:
          memory: 1Gi
