---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app authentik
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  dependsOn: []
  interval: 15m
  values:
    global:
      podAnnotations:
        secret.reloader.stakater.com/reload: authentik-secret
      deploymentStrategy:
        type: RollingUpdate
      env:
        AUTHENTIK_POSTGRESQL__NAME: *app
        AUTHENTIK_POSTGRESQL__HOST: postgres-rw.database.svc
        AUTHENTIK_POSTGRESQL__USER: *app
        # AUTHENTIK_POSTGRESQL__PASSWORD:
        #   valueFrom:
        #     secretKeyRef:
        #       name: authentik-pguser-authentik
        #       key: password
        AUTHENTIK_POSTGRESQL__SSLMODE: verify-full
        AUTHENTIK_POSTGRESQL__SSLROOTCERT: /var/run/secrets/postgresql/ca.crt
        AUTHENTIK_POSTGRESQL__SSLCERT: /var/run/secrets/postgresql/tls.crt
        AUTHENTIK_POSTGRESQL__SSLKEY: /var/run/secrets/postgresql/tls.key
      envFrom:
        - secretRef:
            name: authentik-secret
    server:
      autoscaling:
        enabled: true
        minReplicas: 1
      resources:
        requests:
          cpu: 200m
        limits:
          memory: 1Gi
      metrics:
        prometheus:
          serviceMonitor:
            enabled: true
      route:
        main:
          enabled: true
          hostnames: "{{ .Release.Name }}.${SECRET_DOMAIN}"
          parentRefs:
            - name: external
              namespace: kube-system
              sectionName: https
    worker:
      autoscaling:
        enabled: true
        minReplicas: 1
      resources:
        requests:
          cpu: 200m
        limits:
          memory: 1Gi
