---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app authentik
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  dependsOn: []
  interval: 15m
  values:
    global:
      podAnnotations:
        secret.reloader.stakater.com/reload: authentik-secret
      deploymentStrategy:
        type: RollingUpdate
      env:
        - name: AUTHENTIK_POSTGRESQL__NAME
          value: *app
        - name: AUTHENTIK_POSTGRESQL__HOST
          value: authentik-pgbouncer.security.svc #Authentik requires transaction for pgBouncer
        - name: AUTHENTIK_POSTGRESQL__USER
          value: *app
        - name: AUTHENTIK_POSTGRESQL__PASSWORD
          valueFrom:
            secretKeyRef:
              name: authentik-pguser-authentik
              key: password
        - name: AUTHENTIK_POSTGRESQL__USE_PGBOUNCER
          value: "true"
        - name: AUTHENTIK_POSTGRESQL__SSLMODE
          value: require
      envFrom:
        - secretRef:
            name: authentik-secret
    server:
      autoscaling:
        enabled: true
        minReplicas: 1
      resources:
        requests:
          cpu: 200m
        limits:
          memory: 1Gi
      metrics:
        prometheus:
          serviceMonitor:
            enabled: true
      route:
        main:
          enabled: true
          hostnames: ["authentik.${SECRET_DOMAIN}"]
          parentRefs:
            - name: external
              namespace: kube-system
              sectionName: https
    worker:
      autoscaling:
        enabled: true
        minReplicas: 1
      resources:
        requests:
          cpu: 200m
        limits:
          memory: 1Gi
