---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app paperless
  namespace: &namespace default
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  components:
    - ../../../../components/volsync
    - ../../../../components/database
    - ../../../../components/dragonfly
  dependsOn:
    - name: longhorn
      namespace: storage
    - name: cloudnative-pg
      namespace: database
  interval: 1h
  path: ./kubernetes/apps/default/paperless/app
  postBuild:
    substitute:
      APP: *app
      NAMESPACE: *namespace
      VOLSYNC_CAPACITY: 2Gi
      VOLSYNC_SCHEDULE: 0 11 * * 5  # Cron in UTC (CST: -6, CST: -5)
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
  prune: true
  retryInterval: 2m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
  timeout: 5m
  wait: false
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app paperless-ai
  namespace: &namespace default
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  components:
    - ../../../../../components/volsync
  dependsOn:
    - name: paperless
      namespace: default
  interval: 1h
  path: ./kubernetes/apps/default/paperless/tools/paperless-ai
  postBuild:
    substitute:
      APP: *app
      NAMESPACE: *namespace
      VOLSYNC_CAPACITY: 1Gi
      VOLSYNC_SCHEDULE: 0 11 * * 5  # Cron in UTC (CST: -6, CST: -5)
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
  prune: true
  retryInterval: 2m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
  timeout: 5m
  wait: false
# ---
# # yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
# apiVersion: kustomize.toolkit.fluxcd.io/v1
# kind: Kustomization
# metadata:
#   name: &app paperless-gpt
#   namespace: &namespace default
# spec:
#   commonMetadata:
#     labels:
#       app.kubernetes.io/name: *app
#   components:
#     - ../../../../../components/volsync
#   dependsOn:
#     - name: paperless
#       namespace: default
#   interval: 1h
#   path: ./kubernetes/apps/default/paperless/tools/paperless-gpt
#   postBuild:
#     substitute:
#       APP: *app
#       NAMESPACE: *namespace
#       VOLSYNC_CAPACITY: 1Gi
#       VOLSYNC_SCHEDULE: 0 11 * * 5  # Cron in UTC (CST: -6, CST: -5)
#     substituteFrom:
#       - name: cluster-secrets
#         kind: Secret
#   prune: true
#   retryInterval: 2m
#   sourceRef:
#     kind: GitRepository
#     name: flux-system
#     namespace: flux-system
#   targetNamespace: *namespace
#   timeout: 5m
#   wait: false
