---
# yaml-language-server: $schema=https://kubernetesjsonschema.dev/v1.18.1-standalone-strict/secret-v1.json
apiVersion: v1
kind: Secret
metadata:
  name: ${APP}-dragonfly
stringData:
  url: "redis://dragonfly.database.svc:6379/${REDIS_INDEX:=0}"
