---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kptv-fast
spec:
  chartRef:
    kind: OCIRepository
    name: kptv-fast
  interval: 1h
  values:
    controllers:
      kptv-fast:
        containers:
          app:
            image:
              repository: ghcr.io/kpirnie/kptv-fast
              tag: latest@sha256:8ccc98fc8831dedd30ba34d17ab0dafbba14fa1d8f922b1abafdf095fe3770f6
            env:
              DEBUG: false
              CACHE_DURATION: 7200
              WARM_CACHE_ON_STARTUP: true
              WARM_EPG_ON_STARTUP: true
              ENABLED_PROVIDERS: all
              GIT_COUNTRY: us,ca,uk
              LG_COUNTRY: us,ca,uk
            probes:
              liveness: &probes
                enabled: false
                custom: true
                spec:
                  httpGet:
                    path: /status
                    port: &port 7777
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 1Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${INTERNAL_SECRET_DOMAIN}"
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
    # persistence:
    #   config:
    #     existingClaim: "{{ .Release.Name }}"
    #     globalMounts:
    #       - path: /data