---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: paperless-ngx
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: paperless-ngx-secret
    template:
      data:
        PAPERLESS_DBPASS: "{{ .PAPERLESS_USER_PASSWORD }}"
  dataFrom:
    - extract:
        key: cloudnative-pg
