---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: paperless-ngx
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: paperless-ngx
  values:
    controllers:
      prowlarr:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/paperless-ngx/paperless-ngx
              tag: 2.18.4@sha256:3421ebe06ed27662d014046cf5089e612de853aae0c676a2bc72f73b38080e57
            env:
              PAPERLESS_TIME_ZONE: America/Chicago
              PAPERLESS_APP_TITLE: "Document Archive"
              PAPERLESS_URL: "https://paperless.${INTERNAL_SECRET_DOMAIN}"
              PAPERLESS_REDIS:
              PAPERLESS_DBENGINE: postgresql
              PAPERLESS_DBHOST: postgres-postgresql-ha-pgpool.database.svc.cluster.local
              PAPERLESS_DBNAME: paperless
              PAPERLESS_DBUSER: paperless
              PAPERLESS_DBSSLMODE: disable
              PAPERLESS_DB_POOLSIZE: 1
              PAPERLESS_CONSUMER_POLLING: 60
            envFrom:
              - secretRef:
                  ## PAPERLESS_DBPASS
                  name: "{{ .Release.Name }}-secret"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/status
                    port: &port 8000
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 100m
                memory: 256Mi
              limits:
                memory: 2Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "paperless.${INTERNAL_SECRET_DOMAIN}"
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: "/usr/src/paperless/data"
      media:
        type: nfs
        server: 192.168.20.21
        path: /mnt/tank/services/paperless
        globalMounts:
          - path: "/usr/src/paperless/media"
            subPath: consume
          - path: "/usr/src/paperless/consume"
            subPath: consume
          - path: "/usr/src/paperless/export"
            subPath: export
