---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: your-spotify
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: your-spotify
  values:
    controllers:
      server:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/yooooomi/your_spotify_server
              tag: 1.15.0@sha256:3679ea122e2083703a3f8c1199acf4b1bb81c81da33334bdcaf478bfbbf36e9b
            env:
              TIMEZONE: America/Chicago
              API_ENDPOINT: &api_endpoint "https://spotty.${SECRET_DOMAIN}/api"
              CLIENT_ENDPOINT: "https://spotty.${SECRET_DOMAIN}"
              MONGO_ENDPOINT: "mongodb://{{ .Release.Name }}-mongodb:27017/your_spotify"
              PORT: &port 80
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            probes: &probes
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
            securityContext: &securityContext
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 1Gi
      web:
        containers:
          app:
            image:
              repository: ghcr.io/yooooomi/your_spotify_client
              tag: 1.14.0@sha256:a39557a0772a825e6d0f00de31ce813771a2f158be718b40ec58eb3aa8bd76c3
            env:
              TIMEZONE: America/Chicago
              API_ENDPOINT: *api_endpoint
            probes: *probes
            securityContext: *securityContext
            # resources:
            #   requests:
            #     cpu: 10m
            #     memory: 128Mi
            #   limits:
            #     memory: 512Mi
      mongodb:
        type: statefulset
        statefulset:
          podManagementPolicy: OrderedReady
        containers:
          app:
            image:
              repository: docker.io/library/mongo
              tag: 8.2.1@sha256:e64a984d36b24419327c558b49a9100cf78191706222da6a7c8cf56a743ad3db
            probes: *probes
            # resources:
            #   requests:
            #     cpu: 10m
            #     memory: 128Mi
            #   limits:
            #     memory: 512Mi
    # defaultPodOptions:
    #   securityContext:
    #     runAsNonRoot: true
    #     runAsUser: 1000
    #     runAsGroup: 1000
    #     fsGroup: 1000
    #     fsGroupChangePolicy: OnRootMismatch
    service:
      server:
        controller: server
        primary: true
        ports:
          http:
            port: *port
      web:
        controller: web
        ports:
          http:
            port: &webport 3000
      mongodb:
        controller: mongodb
        ports:
          http:
            port: 27017
    route:
      app:
        hostnames:
          - "spotty.${SECRET_DOMAIN}"
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: "/api"
            filters:
              - type: URLRewrite
                urlRewrite:
                  path:
                    type: ReplacePrefixMatch
                    replacePrefixMatch: "/"
            backendRefs:
              - identifier: server
                port: *port
          - matches:
              - path:
                  type: PathPrefix
                  value: "/"
            backendRefs:
              - identifier: web
                port: *webport
    persistence:
      database:
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          mongodb:
            app:
              - path: /data/db
