---
customization:
  systemExtensions:
    officialExtensions:
      - siderolabs/iscsi-tools # iSCSI Support (Longhorn)
      - siderolabs/util-linux-tools # Misc Utilities
      - siderolabs/nfsrahead # NFS Performance
      - siderolabs/vmtoolsd-guest-agent # VMware Guest Agent
