---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: paperless
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: paperless-secret
    template:
      data:
        PAPERLESS_EMAIL_FROM: "{{ .PAPERLESS_EMAIL_FROM_ADDRESS }}"
        PAPERLESS_EMAIL_HOST: "{{ .GMAIL_SMTP_HOST }}"
        PAPERLESS_EMAIL_PORT: "{{ .GMAIL_SMTP_TLS_PORT }}"
        PAPERLESS_EMAIL_HOST_USER: "{{ .GMAIL_SMTP_USERNAME }}"
        PAPERLESS_EMAIL_HOST_PASSWORD: "{{ .GMAIL_SMTP_PASSWORD }}"
  dataFrom:
    - extract:
        key: paperless
    - extract:
        key: gmail
