---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app paperless
spec:
  timeout: 5m
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  values:
    controllers:
      paperless:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/paperless-ngx/paperless-ngx
              tag: 2.20.0@sha256:8ffd737c69a569bbdadc118e7f54b0b1050ffac2868fdf9e390a68cb7c82a79d
            env:
              PAPERLESS_TIME_ZONE: America/Chicago
              PAPERLESS_APP_TITLE: "Document Archive"
              PAPERLESS_URL: "https://{{ .Release.Name }}.${INTERNAL_SECRET_DOMAIN}"
              PAPERLESS_REDIS: "redis://dragonfly.database.svc:6379/13"
              PAPERLESS_TIKA_ENABLED: 1
              PAPERLESS_TIKA_GOTENBERG_ENDPOINT: http://paperless-gotenburg.default.svc:3000
              PAPERLESS_TIKA_ENDPOINT: http://paperless-tika.default.svc:9998
              PAPERLESS_PORT: &port 8000
              PAPERLESS_DBENGINE: postgresql
              PAPERLESS_DBHOST: postgres-rw.database.svc
              PAPERLESS_DBNAME: paperless
              PAPERLESS_DBUSER: paperless
              PAPERLESS_DBSSLMODE: verify-full
              PAPERLESS_DBSSLROOTCERT: /var/run/secrets/postgresql/ca.crt
              PAPERLESS_DBSSLCERT: /var/run/secrets/postgresql/tls.crt
              PAPERLESS_DBSSLKEY: /var/run/secrets/postgresql/tls.key
              PAPERLESS_DB_POOLSIZE: 1
              PAPERLESS_CONSUMER_POLLING: 60
              PAPERLESS_DATE_PARSER_LANGUAGES: en
            # envFrom:
            #   - secretRef:
            #       ## PAPERLESS_DBPASS
            #       name: "{{ .Release.Name }}-secret"
            probes:
              liveness: &probes
                enabled: false
                type: HTTP
              readiness: *probes
              startup:
                enabled: false
                type: HTTP
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            ## I HATE S6 USERS
            # securityContext:
            #   allowPrivilegeEscalation: false
            #   readOnlyRootFilesystem: true
            #   capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 100m
                memory: 256Mi
              limits:
                memory: 4Gi
      gotenburg:
        containers:
          app:
            image:
              repository: ghcr.io/mchestr/gotenberg
              tag: 8.17.3
            env:
              DISABLE_GOOGLE_CHROME: "1"
      tika:
        containers:
          app:
            image:
              repository: docker.io/apache/tika
              tag: 3.2.3.0-full
    defaultPodOptions:
      securityContext:
        # runAsNonRoot: true
        # runAsUser: 1000
        # runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      paperless:
        controller: *app
        ports:
          http:
            port: *port
      gotenburg:
        controller: gotenburg
        ports:
          http:
            port: 3000
      tika:
        controller: tika
        ports:
          http:
            port: 9998

    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${INTERNAL_SECRET_DOMAIN}"
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          paperless:
            app:
              - path: "/usr/src/paperless/data"
      media:
        type: nfs
        server: 192.168.20.21
        path: /mnt/tank/services/paperless
        advancedMounts:
          paperless:
            app:
              - path: "/usr/src/paperless/media"
                subPath: media
              - path: "/usr/src/paperless/consume"
                subPath: consume
              - path: "/usr/src/paperless/export"
                subPath: export
