---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: channel-identifiarr
spec:
  chartRef:
    kind: OCIRepository
    name: channel-identifiarr
  interval: 1h
  values:
    controllers:
      channel-identifiarr:
        containers:
          app:
            image:
              repository: ghcr.io/egyptiangio/channelidentifiarr
              tag: 0.6.5@sha256:d883c0eb43e369fd78d59f11aaf1dcef8783ae663d92a088c7c07050b48adc23
            env:
              DATABASE_PATH: /database/channelidentifiarr.db
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 64Mi
              limits:
                memory: 1Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: 9192
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${INTERNAL_SECRET_DOMAIN}"
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /data
      database:
        type: nfs
        server: 192.168.20.21
        path: /mnt/tank/media/plex
        advancedMounts:
          channel-identifiarr:
            app:
              - path: "/database"
                subPath: channel-identifiarr
      tmp:
        type: emptyDir
