---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: homepage-css-editor
spec:
  chartRef:
    kind: OCIRepository
    name:  homepage-css-editor
  interval: 1h
  values:
    controllers:
      homepage-css-editor:
        containers:
          app:
            image:
              repository: ghcr.io/10mfox/gethomepage-custom-css
              tag: latest@sha256:cf17201b32a0312b88a72ba58d6c9d6b36a677571d2f91d07ee1a2a5040953c2
            env:
              PORT: &port 5556
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 64Mi
              limits:
                memory: 256Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "homepage-css.${INTERNAL_SECRET_DOMAIN}"
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https