---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: intel-device-plugin-gpu
  namespace: kube-system
spec:
  interval: 15m
  chart:
    spec:
      chart: intel-device-plugins-gpu
      version: 0.34.1
      sourceRef:
        kind: HelmRepository
        name: intel
  values:
    name: intel-gpu-plugin
    sharedDevNum: 10
    nodeFeatureRule: true
