---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: calibre-web-automated
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: calibre-web-automated
  values:
    controllers:
      calibre-web-automated:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/crocodilestick/calibre-web-automated
              tag: v4.0.6@sha256:c31a738b6d5ec6982c050063dd3f063b6943eb1051fc81144789f840d9093a8d
            env:
              TZ: America/Chicago
              PUID: 1000
              PGID: 1000
              NETWORK_SHARE_MODE: true
            envFrom:
              - secretRef:
                  name: calibre-web-automated-secret
            probes:
              liveness: &probes
                enabled: false
                custom: true
                spec:
                  httpGet:
                    path: /login
                    port: &port 8083
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: false
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            securityContext:
              allowPrivilegeEscalation: true
              readOnlyRootFilesystem: false
              capabilities:
                drop: ["ALL"]
                add:
                  # S6
                  - CHOWN
                  - SETUID
                  - SETGID
                  - FOWNER
                  - DAC_OVERRIDE
            resources:
              requests:
                cpu: 209m
                memory: 1015Mi
              limits:
                memory: 1015Mi
        pod:
          affinity:
            podAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                - labelSelector:
                    matchExpressions:
                      - key: app.kubernetes.io/name
                        operator: In
                        values: ["calibre"]
                  topologyKey: kubernetes.io/hostname
    defaultPodOptions:
      securityContext:
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: {type: RuntimeDefault}
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "ebooks.${SECRET_DOMAIN}"
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
      calibre-plugins:
        existingClaim: "calibre"
        globalMounts:
          - path: /config/.config/calibre/plugins
            subPath: .config/calibre/plugins
      media:
        type: nfs
        server: 192.168.20.21
        path: /mnt/tank/media/books
        globalMounts:
          - path: /cwa-book-ingest
            subPath: ingest
          - path: /calibre-library
            subPath: "Calibre Library"
