---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: webpage-hls
spec:
  chartRef:
    kind: OCIRepository
    name: webpage-hls
  interval: 1h
  values:
    controllers:
      webpage-hls:
        containers:
          app:
            image:
              repository: ghcr.io/sethwv/ws4kp-to-hls
              tag: latest@sha256:0d4e99c94c9b67e8bc6d9bb89efe0339c667e81f7f04888204e4f3275065fa94
            env:
              PORT: &port 3000
              WS4KP_EXTERNAL_PORT: &webport 8080
              DEFAULT_FPS: 30
              SCREENSHOT_FORMAT: jpeg
              SCREENSHOT_QUALITY: 95
              XDG_CONFIG_HOME: /tmp
              XDG_CACHE_HOME: /tmp
              # DEBUG_MODE: true
            probes:
              liveness: &probes
                enabled: false
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 1Gi
                # nvidia.com/gpu.shared: 1 # Request portion of shared GPU
    defaultPodOptions:
      # runtimeClassName: nvidia
      # affinity:
      #   nodeAffinity:
      #     requiredDuringSchedulingIgnoredDuringExecution:
      #       nodeSelectorTerms:
      #         - matchExpressions:
      #             - key: nvidia.com/gpu.count
      #               operator: Gt
      #               values: ["0"]
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          stream:
            port: *port
          http:
            port: *webport
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${INTERNAL_SECRET_DOMAIN}"
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *webport
    persistence:
      cache:
        type: emptyDir
        globalMounts:
          - path: /tmp
          - path: /streaming-app/cache
          - path: /home/node/.cache
